<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'AoC Stats ' + ${stats.event}">AoC Stats 2020</title>
    <link th:href="@{stats.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<h1>
    <span>AoC</span>
    <a th:href="'https://adventofcode.com/' + ${stats.event}"
       th:text="${stats.event}"> 2020 </a>
    <span>Stats</span>
</h1>
<div class="stats">
    <div class="stats__user-summaries">
        <div class="stats__user-summaries__summary">
            <div class="summary__column summary__column--place"></div>
            <div class="summary__column">Id</div>
            <div class="summary__column summary__column--name">Name</div>
            <div class="summary__column">Score</div>
            <div class="summary__column">(Global)</div>
            <div class="summary__column">Stars</div>
        </div>
        <div th:each="member : ${members}" class="stats__user-summaries__summary">
            <div th:text="${members.indexOf(member) + 1} + ')'" class="summary__column summary__column--place">1)</div>
            <div th:text="'#' + ${member.id}" class="summary__column">#102</div>
            <div th:text="${member.name}" class="summary__column summary__column--name">Software Engineer</div>
            <div th:text="${member.localScore}" class="summary__column">3210</div>
            <div th:text="'(' + ${member.globalScore} + ')'" class="summary__column">123</div>
            <div th:text="${member.stars} + '*'" class="summary__column gold-star">49*</div>
        </div>
    </div>
    <div class="stats__days">

    </div>
</div>
</body>
</html>
