html {
    width: 100%;
    height: 100%;
}

body {
    background: #0f0f23; /*337 x 5*/
    color: #cccccc;
    font-family: "Source Code Pro", monospace;
    font-size: 14pt;
    min-width: 60em;
    height: 98%;
    width: 98%;
}

code:before {
    z-index: -1;
    content: "";
    position: absolute;
    display: block;
    left: -2px;
    right: -2px;
    top: 3px;
    bottom: 0;
    border: 1px solid #333340;
    background: #10101a;
}

header h1 a, header h1 span {
    display: inline-block;
    text-decoration: none;
    color: #00cc00;
    text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
}

header h1 a:hover, header h1 a:focus {
    color: #99ff99;
    text-shadow: 0 0 2px #99ff99, 0 0 5px #99ff99;
}

a {
    text-decoration: none;
    color: #009900;
}

a:hover, a:focus {
    color: #99ff99;
}

.gold-star {
    color: #ffff66;
}
.silver-star {
    color: #9999cc;
}
.no-star {
    color: #333333;
}

.stats {
    display: flex;
    flex-direction: row;
}

.stats__header {
    min-height: 75px;
}

.stats__user-summaries {
    display: flex;
    flex-direction: column;
}

.stats__user-summaries__summary {
    display: flex;
    flex-direction: row;
}

.summary__column {
    padding: 1px 2px 1px 2px;
    min-width: 100px;
}

.summary__column--place {
    min-width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 4px;
}

.summary__column--stars {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.summary__column--stars__star-row__star{

}

.summary__column--stars__star-row__star__digit,
.summary__column--stars__star-row__star__symbol {
    min-height: 24px;
}

.summary__column--stars__star-row {
    display: flex;
    flex-direction: row;
}

.summary__column--user {
    min-width: 300px;
}

.stats__days {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}

.stats__days__row {
    display: flex;
    flex-direction: row;
    padding: 0 4px 0 4px;
}

.stats__days__row__day {
    min-width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1px;
}

.stats__days__row__day__details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stats__days__row__day__details__col {
    min-width: 130px;
    margin: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stats__days__row__day__details__col--small {
    min-width: 85px;
}
