html {
    width: 100%;
    height: 100%;
}

body {
    background: #0f0f23; /*337 x 5*/
    color: #cccccc;
    font-family: "Source Code Pro", monospace;
    font-size: 14pt;
    min-width: 60em;
    height: 98%;
    width: 98%;
}

code:before {
    z-index: -1;
    content: "";
    position: absolute;
    display: block;
    left: -2px;
    right: -2px;
    top: 3px;
    bottom: 0;
    border: 1px solid #333340;
    background: #10101a;
}

a {
    text-decoration: none;
    color: #009900;
}

a:hover, a:focus {
    color: #99ff99;
}

.stats__data,
.stats__column {
    padding: 1px 4px 1px 4px;
    min-width: 230px;
    margin: 1px;
}

.stats__label-column {
    min-width: 180px;
}

.stats__data {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}

.stats__row--centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gold-star {
    min-height: 16px;
    color: #ffff66;

}

.silver-star {
    min-height: 16px;
    color: #9999cc;
}

.stats {
    display: flex;
    flex-direction: row;
}

.stats__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 2px 1px 2px;
}

.stats__row__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px 4px 2px 4px;
    min-width: 66px;
}

.stats__row__column__date {
    display: flex;
    justify-content: center;
}
